<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqxZYWaxikFaOZ0uv7muD5WTtim8v85o8</string>
	<key>GCM_SENDER_ID</key>
	<string>577079160647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.followMe</string>
	<key>PROJECT_ID</key>
	<string>follow-me-36e44</string>
	<key>STORAGE_BUCKET</key>
	<string>follow-me-36e44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577079160647:ios:ba0615ad0ae4fb56a6a662</string>
</dict>
</plist>